.chat-main
  .chat-main__group-info
    .group-detail
      .group-detail__name
        = @group.name
      .group-detail__member
        Member :
        - @group.users.each do |user|
          = user.nickname
    .edit
      = link_to edit_group_path(@group) do
        .edit__btn
          Edit
  .chat-main__message-list
    .contents
      = render @messages
  .chat-main__message-form
    .form
      = form_for [@group, @message] do |f|
        .form-items
          = f.text_field :body, class: "form-items__text", placeholder: "type a message"
          = f.label :image do
            = icon("far", "image")
            = f.file_field :image, class: "form-items__image"
        = f.submit "Send", class: "send-btn"