.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.nickname
      .top-items__icons
        = link_to new_group_path, class: "side-bar-btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "side-bar-btn" do
          = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-items
        = link_to edit_group_path(group.id) do
          .group-items__name
            = group.name
          .group-items__message
            まだメッセージがありません